<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<mimeMap fileExtension=".fbx" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".glb" mimeType="model/gltf-binary" />
			<mimeMap fileExtension=".stl" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".py" mimeType="text/plain" />
		</staticContent>
	</system.webServer>
</configuration>